<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
  <services>
    <service name="DebtService.DebtService" behaviorConfiguration="ServiceBehavior">
      <host>
        <baseAddresses>
          <add baseAddress = "http://ukuatefcoesb01:8742/" />
        </baseAddresses>
      </host>
      <endpoint bindingConfiguration="netMsmq" address="net.msmq://ukuatefcoesb01/private/debtcollection.svc" binding="netMsmqBinding" contract="DebtService.IDebtService" name="DebtServiceEndPoint" />
    </service>
  </services>
  <bindings>
    <netMsmqBinding>
      <binding name="netMsmq" exactlyOnce="true" receiveTimeout="00:00:01" receiveRetryCount="0" maxRetryCycles="1" receiveErrorHandling="Move">
        <security mode="None" />
      </binding>
    </netMsmqBinding>
  </bindings>
  <behaviors>
    <serviceBehaviors>
      <behavior name="ServiceBehavior">
        <serviceMetadata httpGetEnabled="True"/>
        <serviceDebug includeExceptionDetailInFaults="True" />
      </behavior>
    </serviceBehaviors>
  </behaviors>
  </system.serviceModel>
  <appSettings>
    <add key="DebtSourceID" value="8"/>
    <add key="DebtTypeID" value="8"/>
    <add key="OwnerID" value="3"/>
    <add key="StationID" value="6850"/>
    <add key="DebtReasonRtnID" value="99"/>
    <add key="DebtorHostSystem" value="Nexus"/>
    <add key="MakerCompany" value="Express Finance"/>
    <add key="Comment" value="Express Finance Import (EF Cust:"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionStringMoneyMart"
        connectionString="/tCLN9zvE41U4Tp2nue98XSGWI3CxfN1YbD18QPPb7LHQEdunNr1+YgexmJxxL8CK1fdIn5C3f31H7bBn9o2LGAF04G9iTnzFwJDrXyWF0sepL0Yavz/KwiFBpuWaoxn8ce47IvOZLqJf2hX1LFFhg==" />
  </connectionStrings>
</configuration>
