<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mySettings" type="object"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ConfigurationTests.Tests.Unit.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ConfigurationTests.Tests.Unit.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="AmberLive" connectionString="Data Source=ukqaoftsql01;Initial Catalog=AmberLive" />
    <add name="Test1" connectionString="Data Source=10.99.175.100;Initial Catalog=ExpressFinance;User ID=WSUser;password=W3bS3rv1c3;MultipleActiveResultSets=True" />
    <add name="Test2" connectionString="Data Source=10.99.175.100;Initial Catalog=ExpressFinance;User ID=WSUser;password=W3bS3rv1c3;MultipleActiveResultSets=True" />
    <add name="ConfigurationTests.Tests.Unit.Settings.ConnectionStringSetting"
      connectionString="This is my Application connection string" />
  </connectionStrings>
  <appSettings>
    <add key="AmberLive_UserId" value="AmberNetWS"/>
    <add key="AmberLive_Password" value="OFT123_"/>
    <add key="Hello" value="World"/>
    <add key="EncryptedHello" value="/VkaDsFycfHJOJTr3Sh+Cw=="/>
    <add key="HelloAgain" value="Everyone"/>
  </appSettings>
  <mySettings>
    <xmlcontent>Hello World</xmlcontent>
    <xmlcontent>Hello Fred</xmlcontent>
  </mySettings>
  <system.serviceModel>
    <diagnostics performanceCounters="All">
      <messageLogging
         logEntireMessage="true"
         logMalformedMessages="false"
         logMessagesAtServiceLevel="true"
         logMessagesAtTransportLevel="false"
         maxMessagesToLog="3000"
         maxSizeOfMessageToLog="2000" />
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_TMSPaymentEFTSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:12:00" sendTimeout="00:12:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ILoggingService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:12:00" sendTimeout="00:12:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://UKUATNEXCG1/wsChargeService/ChargeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_TMSPaymentEFTSoap" contract="ChargeGateway.TMSPaymentEFTSoap" name="BasicHttpBinding_TMSPaymentEFTSoap" />
      <endpoint address="http://192.168.4.3/LoggingService/LoggingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoggingService" contract="LoggingService.ILoggingService" name="BasicHttpBinding_ILoggingService" />
    </client>
  </system.serviceModel>
  <userSettings>
    <ConfigurationTests.Tests.Unit.Settings>
      <setting name="UserStringSetting" serializeAs="String">
        <value>ValueOfSetting</value>
      </setting>
    </ConfigurationTests.Tests.Unit.Settings>
  </userSettings>
  <applicationSettings>
    <ConfigurationTests.Tests.Unit.Settings>
      <setting name="StringSetting" serializeAs="String">
        <value>SettingValue</value>
      </setting>
      <setting name="BoolSetting" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ByteSetting" serializeAs="String">
        <value>123</value>
      </setting>
      <setting name="CharSetting" serializeAs="String">
        <value>x</value>
      </setting>
    </ConfigurationTests.Tests.Unit.Settings>
  </applicationSettings>

</configuration>