<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Nexus" connectionString="Data Source=10.99.175.100;Initial Catalog=ExpressFinance;User ID=WSUser;password=grollyrabbit;MultipleActiveResultSets=True" />
    <add name="BounceProc" connectionString="Provider=SQLOLEDB.1;Integrated Security=SSPI;Initial Catalog=moneymart;Data Source=ukuatefcosql02\sql2008" />
  </connectionStrings>
</configuration>