<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AmberLive_UserId" value="AmberNetWS"/>
    <add key="AmberLive_Password" value="OFT123_"/>
  </appSettings>
  <connectionStrings>
    <add name="AmberLive" connectionString="Data Source=ukqaoftsql01;Initial Catalog=AmberLive" />
  </connectionStrings>
</configuration>